section>h2.title {
  font-size: 0.85rem;
  margin: 1rem 0 0.7rem;
  padding-left: 0.35rem;
  border-left: 2px solid #d43c33;
  line-height: 1;
}
.tab-content>li{
  display: none;
}
.tab-content>li.active{
  display: block;
}

.index-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.85rem 0.5rem;
  background: #d43c33;
}

.index-header .logo {
  width: 7.1rem;
}

.index-header .download-app {
  padding: 0 0.5rem;
  border: 1px solid #fff;
  /*水平 垂直*/
  border-radius: 37.5%/100%;
  line-height: 1.4rem;
  font-size: 0.75rem;
  color: #fff;
}

.index-nav>ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid rgb(204, 204, 204);
  font-size: 0.75rem;
}

.index-nav li {
  flex: 1;
  text-align: center;
}

.index-nav li span {
  position: relative;
  display: inline-block;
  line-height: 2rem;
}

.index-nav li.active {
  color: #d43c33;
}

.index-nav li.active span::after {
  content: '';
  display: block;
  position: absolute;
  left: -4px;
  right: -4px;
  bottom: -1px;
  border-bottom: 2px solid #d43c33;
}


.recommend-playlists>ol {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 1.2rem;
}

.recommend-playlists>ol>li {
  width: calc(33.333333% - 2px);
  margin-bottom: 0.75rem;
}

.recommend-playlists>ol>li>img {
  width: 100%;
  display: block;
}

.recommend-playlists>ol>li>.playlists-info {
  font-size: 0.65rem;
  padding: 6px 2px 0 6px;
  display: -webkit-box;
  height: 1.95rem;
  line-height: 1.2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.loading{
  display: block;
  margin: 0 auto 1rem;
  width: 1rem;
}



.music-list>ol>li {
  margin: 0 0.5rem;
  padding: 0.3rem 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  position: relative;
  display: flex;
}
.music-list>ol>li>.song{
  width:90%
}
.hot-list-tab h3.order-number{
  width:1.4rem;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 0.85rem;
  color:#888;
}
.hot-list-tab>ol>li:nth-child(-n+3) .order-number {
  color: #df3436;
}

.music-list h3.song-name {
  font-size: 0.85rem;
}

.music-list p.song-info {
  font-size: 0.6rem;
  color: #888;
  display: flex;
  align-items: center;
}

.music-list p.song-info .sq{
  margin-right: 0.2rem;
  fill: #FF6E31;
  height: 0.7rem;
  width: 0.7rem;
  /*文字过多时，需要最小宽度*/
  min-width: 0.7rem;
  vertical-align: middle;
}

.music-list h3.song-name,
.music-list p.song-info {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.music-list .play-btn{
  display: block;
  position: absolute;
  right: 0;
  top:50%;
  transform: translateY(-50%)
}

.music-list .play-btn>svg{
  fill: #aaa;
  height: 1.2rem;
  width: 1.2rem;
}

.index-footer{
  padding-bottom: 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url('http://owf5g9dnv.bkt.clouddn.com/index-footer.png') no-repeat center/cover;
}
.index-footer .logo{
  margin-top: 3.4rem;
  width: 11.5rem;
}
.index-footer .open-app{
  margin: 0.35rem 0 0.25rem;
  padding: 0.35rem 2.3rem;
  border:1px solid #d33a31;
  border-radius: 7%/50%;
  color:#d33a31;
  font-size: 0.8rem;
}
.index-footer .copyright{
  font-size: 0.6rem;
  line-height: 0.8rem;
  color: #888;
  transform: scale(.75)
}

.hot-top{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 7.3rem;
  background: url('//s3.music.126.net/m/s/img/hot_music_bg_2x.jpg?f01a252389c26bcf016816242eaa6aee') no-repeat center center/contain;
  position: relative;
  padding-left: 1rem;
}
.hot-top::before{
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top:0;
  bottom: 0;
  background:rgba(0,0,0,.2);
}
.hot-top .hot-icon{
  height: 3.35rem;
  width: 7.1rem;
  background-image: url('//s3.music.126.net/m/s/img/index_icon_2x.png?5207a28c3767992ca4bb6d4887c74880');
  background-size:8.3rem 4.85rem;
  background-position: -1.2rem -1.5rem;
  position: relative;
  z-index: 1
}
.hot-top .update-date{
  padding-top: 0.45rem;
  transform: scale(0.91);
  transform-origin: left top;
  font-size: 12px;
  color: hsla(0,0%,100%,.8);
}
.search{
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.search form{
  display: flex;
  padding: 0.75rem 0.5rem;
}
.search .input-ct{
  display: flex;
  align-items: center;
  flex:1;
  background: #ebecec;
  border-radius: 10%/100%;
}
.search .search-icon{
  margin: 0 0.4rem;
  height: 0.65rem;
  width: 0.65rem;
  fill:#C9C9CA;
}
.search .x-icon{
  margin: 0.4rem;
  height: 0.7rem;
  width: 0.7rem;
  fill: #BCBDBD;
  display: none;
}
.search .x-icon.active{
  display: block;
}
.search .input-ct input{
  flex:1;
  height: 1.5rem;
  overflow: hidden;
  color: #333;
  border: 0px solid;  
  background: transparent;
  outline: none;
  font-size: 0.7rem;
}
input::-webkit-input-placeholder {
  color: #c9c9c9;
  font-size: 0.7rem;
}
.hot-search{
  padding: 0.75rem 0.5rem 0;
  display: none;
}
.hot-search.active{
  display: block;
}
.hot-search>h4.title{
  font-size: 0.6rem;
  line-height: 0.6rem;
  color: #666;
}
.hot-search>ul{
  display: flex;
  flex-wrap: wrap;
  margin: 0.5rem 0 0.35rem;
}
.hot-search>ul>.item{
  
  margin: 0 0.4rem 0.4rem 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 37.5%/100%;
  font-size: 0.7rem;
  line-height: 1.6rem;
  color: #333;
}
.hot-search>ul>.item>a{
  display: block;
  padding: 0 0.7rem;
}
.search-history{
  display: none;
}
.search-history.active{
  display: block;
}
.search-history>ul>.item{
  display: flex;
  align-items: center;
}
.search-history>ul .history{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex:1;
  font-size: 0.7rem;
  line-height: 2rem;
  color: #333;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1)
}
.search-history .history-icon{
  margin: 0 0.4rem;
  height: 0.9rem;
  width: 0.9rem;
  fill: #C9CACA;
}
.search-history .close-icon{
  margin: 0.4rem 0.8rem;
  height: 0.8rem;
  width: 0.8rem;
  fill: #999899;
}
.sync-search{
  display: none;
}
.sync-search.active{
  display: block;
}
.sync-search .search-what{
  margin: 0 0.5rem;
  line-height: 2.5rem;
  font-size: 0.75rem;
  color: #507daf;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1)  
}
.sync-search .search-icon{
  margin: 0 0.3rem 0 0.4rem;
  height: 0.75rem;
  width: 0.75rem;
  fill:#C9C9CA;
}
.sync-search>ul>li{
  display: flex;
  align-items: center;
  font-size: 0.7rem;
  line-height: 2rem;
  color: #333;
}
.sync-search>ul>li>span{
  flex:1;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1)
}